<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
        <Routing name="Routing">
            <Routes pattern="$${ctx:testGroupName}">
                <Route>
                    <File name="LogFile-${ctx:testGroupName}" fileName="logs/${ctx:testGroupName}.log" append="false">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Routing"/>
        </Root>
    </Loggers>
</Configuration>

